minilog==2.3.1
trio==0.29.0
pandas==2.2.3
universal-startfile==0.2
openai==0.28.0
idna==3.10
kiwisolver==1.4.8
classproperties==0.2.0
outcome==1.3.0.post0
aiohttp==3.11.16
trio-websocket==0.12.2
pillow==11.1.0
colorama==0.4.6
anyio==4.9.0
requests==2.32.3
frozenlist==1.5.0
attrs==25.3.0
tomlkit==0.10.2
blinker==1.9.0
soupsieve==2.6
ruamel.yaml.clib==0.2.12
mine==4.2.3
seaborn==0.13.2
h11==0.14.0
GitPython==3.1.44
networkx==3.4.2
ace_tools==0.0
joblib==1.4.2
protobuf==6.30.2
ruamel.yaml==0.17.40
itsdangerous==2.2.0
PySocks==1.7.1
beautifulsoup4==4.13.3
datafiles==2.3.3
tqdm==4.67.1
urllib3==2.3.0
scikit-learn==1.6.1
pydantic==2.11.3
click==8.1.8
typing-inspection==0.4.0
setproctitle==1.3.6
psutil==5.6.7
sentry-sdk==2.27.0
python-dotenv==1.1.0
threadpoolctl==3.5.0
cached-property==1.5.2
Werkzeug==3.1.3
crayons==0.4.0
nn==0.1.1
pip==25.0.1
regex==2024.11.6
gitdb==4.0.12
sniffio==1.3.1
matplotlib==3.10.0
fonttools==4.56.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
wandb==0.19.10
charset-normalizer==3.4.1
sortedcontainers==2.4.0
packaging==24.2
torch==2.6.0
chardet==5.2.0
scipy==1.15.2
certifi==2025.1.31
selenium==4.30.0
tzdata==2025.1
platformdirs==4.3.7
httpcore==1.0.7
setuptools==78.0.2
cycler==0.12.1
Jinja2==3.1.6
opencv-python==4.11.0.86
filelock==3.18.0
torchvision==0.21.0
json-five==1.1.2
distro==1.9.0
pyparsing==3.2.1
fsspec==2025.3.0
pydantic_core==2.33.1
docker-pycreds==0.4.0
aiohappyeyeballs==2.6.1
sly==0.5
contourpy==1.3.1
Flask==3.1.0
propcache==0.3.1
sympy==1.13.1
bs4==0.0.2
aiosignal==1.3.2
typing_extensions==4.12.2
PyYAML==6.0.2
httpx==0.28.1
smmap==5.0.2
reportlab==4.4.0
webdriver-manager==4.0.2
multidict==6.4.3
pytz==2025.1
annotated-types==0.7.0
yarl==1.19.0
wsproto==1.2.0
numpy==2.2.3
six==1.17.0
jiter==0.9.0
parse==1.20.2
websocket-client==1.8.0
MarkupSafe==3.0.2
